* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #fff;
}
header {
  background-image: url(/images/Group\ 11.png);
  background-repeat: no-repeat;
  background-size: contain;
}

header:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.logo {
  color: #891834;
  font-size: 1.3rem;
  padding: 1rem;
  z-index: 100;
}
/*navigation*/

.container-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.container-nav ul li {
  list-style: none;
  z-index: 100;
  color: #891834;
}
.container-nav ul li a {
  text-decoration: none;
}
.container-nav ul li button {
  border-radius: 20%;
  border-color: #891834;
  background-color: #fff;
  color: #891834;
  padding: 7% 50%;
  z-index: 100;
}
.container-nav ul li button:hover {
  background-color: #891834;
  color: #dbeefc;
}
.container-nav ul li a:hover {
  color: #891834;
  text-decoration: overline;
}

/*h1 header*/
h1 {
  justify-content: center;
  color: #875a0b;
  font-size: 2rem;
  text-align: center;
  text-shadow: #ffebc9 1px 0 10px;

  padding-left: 60%;
  margin-right: 5%;
}

/* section care*/

#care h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

#care img {
  object-fit: contain;
  overflow: hidden;
  height: 600px;
  justify-content: center;
  width: 100%;
  border-radius: 80%;
}

#care p {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}
/* section care*/

#resources h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.container-res {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  text-align: center;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}

#resources button {
  background-color: #fff;
  border-radius: 10%;
  border-color: #891834;
  color: #891834;
  padding: 6px 20px;
  margin-top: 3rem;
}
#resources button:hover {
  background-color: #891834;
  color: #fff;
}

/*About us */
#aboutus h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

#aboutus p {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  text-align: center;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}

#aboutus img {
  object-fit: contain;
  overflow: hidden;
  height: 400px;
  width: 100%;
  border-radius: 80%;
}

/*footer*/
footer {
  background-color: #891834;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 7%;
}

@media (max-width: 820px) and (min-width: 600px) {
  #care img {
    height: 500px;
  }
}
@media (min-width: 1020px) {
  h1 {
    font-size: 4rem;
  }

  #care img {
    justify-content: center;
    width: 100%;
    height: 500px;
  }
  #aboutus img {
    width: 100%;
    height: 500px;
  }
}
