* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

body {
  background-color: #fff;
}

.logo {
  color: #891834;
  font-size: 1.3rem;
  padding: 1rem;
}
/*navigation*/
.contanier-header {
  color: #7d3626;
  justify-content: space-between;
}
.container-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.container-nav ul li {
  list-style: none;
}
.contanier-header .container-nav ul li a {
  text-decoration: none;
}
.contanier-header .container-nav ul li button {
  border-radius: 10%;
  border-color: #891834;
  background-color: #fff;
  color: #891834;
  padding: 7% 50%;
}
.contanier-header .container-nav ul li button:hover {
  background-color: #891834;
  color: #dbeefc;
}
.contanier-header .container-nav ul li a:hover {
  color: #891834;
  text-decoration: overline;
}

/*h1 header*/
h1 {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  color: #875a0b;
  font-size: 3rem;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
  text-shadow: #ffebc9 1px 0 10px;
}

/* section care*/

#care h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

#care img {
  object-fit: contain;
  overflow: hidden;
  height: 600px;
  justify-content: center;
  width: 100%;
}

#care p {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}
/* section care*/

#resources h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.container-res {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  text-align: center;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}
#resources button {
  background-color: #fff;
  border-radius: 10%;
  border-color: #891834;
  color: #891834;
  padding: 6px 20px;
  margin-top: 3rem;
}
#resources button:hover {
  background-color: #891834;
  color: #fff;
}

/*About us */
#aboutus h2 {
  color: #875a0b;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

#aboutus p {
  border-style: dotted;
  border-color: #7d3626;
  color: #757575;
  text-align: center;
  justify-content: center;
  padding: 6%;
  margin: 4rem;
}

#aboutus img {
  object-fit: contain;
  overflow: hidden;
  height: 400px;
  width: 100%;
}

/*footer*/
footer {
  background-color: #891834;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 7%;
}

@media (max-width: 820px) and (min-width: 600px) {
  h1 {
    background-position: center;
  }
  #care img {
    height: 800px;
  }
}
@media (min-width: 1020px) {
  h1 {
    background-size: 100%;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
    background-position: center;
  }
  #care img {
    justify-content: center;

    width: 100%;
    height: 500px;
  }
  #aboutus img {
    width: 100%;
    height: 500px;
  }
}
